.speakers {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.speakers p {
  text-align: center;
  color: rgb(243, 226, 226);
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}

.speakers h1 {
  text-align: center;
  color: red;
  margin-top: 3.5rem;
}
