/* body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
*/

/* .container {
    max-width: 100%;
    height: auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: "Neuton", serif;
} */

.why-attend {
    color: red;
}


/* .benefits {
    margin-top: 20px;
}

.benefits ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.benefits li {
    margin-bottom: 10px;
    color: #ccc;
} */

.images {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    display: inline-block;
    margin-right: 40px;
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.circle {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
    border: 5px solid rgb(139, 109, 71);
}

hr {
    width: 33%;
    margin: 0 10px;
    border: 2px solid red;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.line {
    color: red;
    display: inline-block;
    margin: 0;
}

.top {
    color: white;
    text-align: center;
}

.desc {
    color: #fff;
    font-size: 1.4rem;
    padding-left: 48px;
    padding-right: 48px;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px 0; */
}

.main-head{
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

@media (max-width: 1024px) {
    .images {
        flex-wrap: wrap;
    }

    .image {
        width: 50%;
    }

    hr {
        width: 50%;
    }

    .desc {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .image {
        width: 50%;
    }

    hr {
        width: 36%;
    }

    /* .desc {
        font-size: 1rem;
    } */
}

@media (max-width: 600px) {
    .images {
        flex-wrap: wrap;
    }

    .circle {
        /* height: auto;
        max-width: 250px; */
        margin: 5px;
        border: 3px solid rgb(139, 109, 71);
    }

    .image {
        width: 40%;
        /* height: 250px; */
        margin-right: 30px;
    }

    hr {
        width: 100%;
    }

    .desc {
        padding-left: 20px;
        padding-right: 20px;
        /* margin-bottom: 300px; */
        font-size: 1rem;
    }

    .line {
        font-size: 0.9rem;
    }

    hr {
        margin: 0 5px;
    }

    .main-head{
      font-size: 1.5rem; 
      margin-bottom: 10px;
    }
}

@media (max-width:340px) {
    .circle {
        /* height: auto;
        max-width: 250px; */
        margin: 0px;
        border: 3px solid rgb(139, 109, 71);
    }

    .image {
        width: 30%;
        margin-right: 35px;
    }

    .desc{
        font-size: 0.6rem;
    }
}