.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden !important;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 2rem;
  background-color: black;
  padding-bottom: 0.9375rem;
  padding-inline: 2rem;
}

.hero-content {
  max-width: 50%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.625rem;
  border-radius: 0.625rem;
}

.hero-image,
.hero-image12 {
  max-width: 58%;
}

.hero-image img,
.hero-image12 img {
  width: 100%;
  border-radius: 0.625rem;
}

.hero-image12 {
  display: none;
}

.hero-button {
  width: 18rem;
  border-radius: 80px;
  background-color: red;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 12px 20px !important;
  border-radius: 2rem !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.hero-button:hover {
  background-color: red;
  box-shadow: 0 0 15px red;
}

.hero-button:active {
  transform: scale(0.9);
}

.hero-headline {
  font-size: 2rem;
}

.hero-highlight {
  color: red;
}

.hero-subheadline {
  font-family: "Prata", serif;
  line-height: 4.15rem;
  font-size: 3.25rem;
  font-style: italic;
  margin-top: 0;
}

.hero-event-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25rem;
}

.hero-event-details p {
  font-size: 1.2rem;
  margin: 0 0.625rem;
}

.hero-label {
  color: red;
}

.hero-vertical-line {
  width: 0.125rem;
  height: 3rem;
  background-color: red;
  margin: 0 0.8rem;
}

.hero-description {
  font-size: 1.2rem;
  margin: 1.25rem 0;
}

/* Media Queries */
@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .hero-content {
    max-width: 80%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .hero-image,
  .hero-image12 {
    max-width: 80%;
    margin-top: 2rem;
  }

  .hero-button {
    width: 100%;
    max-width: 18rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .hero-content {
    max-width: 100%;
    text-align: center;
  }

  .hero-section {
    padding-top: 0;
    margin-top: 0;
  }

  .hero-subheadline {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  .hero-event-details {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .hero-event-details p {
    font-size: 1rem;
    margin: 0.5rem 0.625rem;
  }

  .hero-vertical-line {
    display: none;
  }

  .hero-button {
    width: 100%;
    font-size: 1.25rem;
  }
}

@media (max-width: 720px) {
  .hero-image {
    display: none;
  }
  .hero-headline {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .hero-subheadline {
    font-size: 2.2rem;
    line-height: 3.4rem;
    margin-bottom: 0;
  }

  .hero-image12 {
    display: block;
    max-width: 100%;
    margin-top: 2rem;
  }
  .hero-description {
    font-size: 1rem;
  }
  .hero-image12 img {
    width: 100%;
    border-radius: 0.625rem;
  }
}
