.event_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; /* Ensures full width on small screens */
  padding: 1rem; /* Add padding to avoid elements touching the edges */
}

.event_details h1 {
  margin: 0.2rem 0;
  font-size: 3.8rem;
}

.breakdown {
  margin-top: 0.5rem;
}

.event_details p {
  font-size: 1.2rem;
  font-weight: 500;
}

.event_details img {
  max-width: 70%;
  border-radius: 1rem;
  margin-top: -4rem;
}

.analysis {
  color: rgba(255, 0, 43, 0.874);
}

.venue {
  margin-top: -2rem;
}

.event_details p {
  margin: 0.5rem 0;
}

.event_details button {
  width: 100%; /* Makes the button take full width on small screens */
  max-width: 15rem; /* Sets a max width for larger screens */
  height: 3rem;
  border: none;
  border-radius: 8px;
  background-color: tomato;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.5rem;
  box-shadow: 2px 3px 5px rgba(110, 57, 47, 0.164);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.01s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.event_details button:hover {
  box-shadow: 0 0 15px rgb(225, 9, 70);
}

.event_details button:active {
  transform: scale(0.9);
}

/* Media Queries for responsiveness */
@media (max-width: 1050px) {
  .event_details {
    padding: 0.8rem;
  }

  .event_details img {
    max-width: 70%;
  }

  .event_details h1 {
    font-size: 2.4rem;
  }

  .event_details h2 {
    font-size: 1.8rem;
  }

  .event_details p {
    font-size: 1.1rem;
  }

  .event_details button {
    font-size: 0.9rem;
    padding: 0.7rem 1.2rem;
  }
}

@media (max-width: 768px) {
  .event_details {
    padding: 0.5rem;
  }

  .event_details img {
    max-width: 100%;
  }

  .event_details button {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
    font-weight: 550;
  }
  .venue {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .event_details {
    padding: 0.5rem;
    width: 100%; /* Ensure full width */
  
  }

  .event_details h1 {
    font-size: 1.5rem;
  }

  .event_details h2 {
    font-size: 1.2rem;
  }

  .event_details p {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  .venue {
    margin-top: 1rem;
  }

  .event_details img {
    
    height: auto; /* Maintain aspect ratio */
    margin-top: 0;
    height: 110vw;
  }

  .event_details button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
    width: 100%; /* Makes the button take full width on small screens */
  }
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5rem; /* Adjust font size for consistency */
  padding: 1rem; /* Adjust padding for consistency */
  width: 100%; /* Makes the button take full width */
  max-width: 15rem; /* Sets a max width for larger screens */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.registration p{
  font-size: 1.5rem;
  color: #f4511e;
  display: flex;
  flex-wrap: wrap;
}
