#root {
  margin: 0;
  width: 100%;
    height: 100%;
padding: 0;
}

.logo {
  height: 6em;
  
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* App.css */
.app {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* App.css */
.app {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Ensure images are centered */
img {
  display: block;
  margin: 0 auto; /* Center horizontally */
}

/* Define the fading and transition effects */
section, img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

section.visible, img.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Exclude Slide component from fading */
.no-fade {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 768px) {
  .section,
  .img {
    opacity: 1;
    transform: translateX(0);
    transition: none; /* Remove transition on small screens */
  }
}

#about,#whatIsAbout,#team{
  padding-top: 3rem !important;
}